/*
https://github.com/ant-design/ant-design-pro/blob/master/src/layouts/UserLayout.less
https://github.com/ant-design/ant-design-pro/blob/v4/src/layouts/UserLayout.less
*/

.LoginLayout {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
  /* background-image: url('/src/static/bg.svg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.LoginForm {
  margin: auto;
  padding: 50px;
  background-color: #fff;
  border: 1px hidden #f0f0f0;
  border-collapse: collapse;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #f0f0f0;
  width: 450px;
}

.SiteLogo {
  vertical-align: middle;
  height: 32px;
  background-color: #fff;
  padding: 1px;
}

.SiteName {
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.85);
  /* letter-spacing: 2px; */
  letter-spacing: 1px;
}
