/*
// antd4
node_modules/antd/lib/layout/style/index.css
--------------------------------------------
.ant-layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background: #f0f2f5;
}
--------------------------------------------
*/
.MyLayout {
  min-height: 100vh !important;
  /* min-width: 800px; */
}
