.MySider {
  /* overflow: auto !important; */
  overflow-x: hidden !important;
  overflow-y: auto !important;
  height: 100vh !important;
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  z-index: 10 !important;
}

.SiteInfo {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.SiteLogo {
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  display: inline-block;
}

.SiteTitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  vertical-align: middle;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  /* letter-spacing: 2px; */
  letter-spacing: 1px;
}
